.receipt-container {
  width: 565px;
  height: 270px;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-top: solid 1px rgba(255, 62, 0, 0.4);
  margin-top: 50px;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #fff;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.5%; /* 23.49px */
}

.receipt-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Lexend;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.5%; /* 32.625px */
  padding-top: 15px;
  border-top: solid 1px rgba(255, 255, 255, 0.4);
}
